---
layout: layoutcv
title: Richard Hoyos
author: richard
---

{% assign author = site.data.generalinfo[page.author] %}
<div class="container-fluid p-0">

    <div class="row">
        <div class="col-xs-12 col-md-10">
            <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
                <div class="my-auto">
                    <h1 class="mb-0">{{ author.name }} <span class="text-primary">{{ author.lastname }}</span></h1>
                    <div class="subheading mb-5"><a href="mailto:{{ author.mail }}">{{ author.mail }}</a></div>
                    <p class="mb-5">{{ author.sumary }} </p>
                    <ul class="list-inline list-social-icons mb-0">
                        {% for socialmedia in author.socialmedias %}
                        <li class="list-inline-item">
                            <a href="{{ socialmedia.url }}" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa {{ socialmedia.icon }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <img src="/assets/images/profile.png" alt="Richard Hoyos" class="img-fluid photo">
                </div>
            </section>
        
            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
                <div class="my-auto">
                    <h2 class="mb-5">Experiencia</h2>
                    {% for experience in author.experiences %}
                    <div class="resume-item d-flex flex-column flex-md-row mb-5">
                        <div class="resume-content mr-auto">
                            <h3 class="mb-0">{{ experience.position }}</h3>
                            <div class="subheading mb-3">{{ experience.company }}</div>
                            <ul>
                                {% for description in experience.descriptions %}
                                <li>{{ description.info }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">{{ experience.years }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        
            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
                <div class="my-auto">
                    <h2 class="mb-5">Habilidades</h2>
        
                    <div class="subheading mb-3">{{ author.skills.description }}</div>
                    <ul class="list-inline list-icons">
                        {% for tool in author.skills.tools %}
                        <li class="list-inline-item">
                            <i title="{{ tool.title }}" class="devicons {{ tool.icon }}"></i>
                        </li>
                        {% endfor %}
                    </ul>
        
                    <div class="subheading mb-3">Trabajo</div>
                    <ul class="fa-ul mb-0">
                        {% for work in author.skills.works %}
                        <li>
                            <i class="fa-li fa fa-check"></i>
                            {{ work.info }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        
            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
                <div class="my-auto">
                    <h2 class="mb-5">Interes</h2>
                    {% for interest in author.interests %}
                    <p class="mb-1"> {{ interest.info }} </p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

