<a class="navbar-brand js-scroll-trigger" href="/">
    <span class="d-block d-lg-none">Richard Hoyos</span>
    <span class="d-none d-lg-block">
    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/images/profile.png" alt="">
    </span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>