<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Próximamente</title>
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
        <link href="/assets/tools/style.css" rel="stylesheet" type="text/css" />
        <link href="/assets/tools/960.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script> 
        <script type="text/javascript" src="/assets/js/cufon-yui.js"></script>
        <script type="text/javascript" src="/assets/js/Copse_400.font.js"></script>
        <script type="text/javascript" src="/assets/js/Gabriola_400.font.js"></script>
        <script type="text/javascript">
            Cufon.replace('h1', {fontFamily: 'Copse', hover:true})
            Cufon.replace('p.info', {fontFamily: 'Gabriola', hover:true})
        </script>
    </head>
    <body>
        <div id="shim"></div>
        <div id="content">
            <h1 class="logo"><span class="one">Richard</span> <span class="two">Hoyos</span></h1>
            <p class="info">Muy pronto, mi sitio web.<br/>
                <span>Mientras tanto, me puedes seguir en las redes sociales</span>
            </p>
            <p class="links">
                <a href="https://www.linkedin.com/in/richard-adolfo-hoyos-baquero" class="li">Linked In</a>
                <a href="https://twitter.com/richardhoyos" class="tw">Twitter</a>
                <a href="https://www.facebook.com/rhoyosbaquero" class="fb">Facebook</a>
            </p>
        </div>

    </body>
</html>
